Repository shinhan-Naengtureat/Naengtureat, pull requests merged in 2025-03, with the labels that each got.

#22 feat: Recipe, RecipeStep, Meal Entity 생성
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/Meal.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/Recipe.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/RecipeStep.java
Labels: Backend

#23 feat: Store, StoreProduct, StoreReview Entity 생성
  backend/src/main/java/com/shinhan/naengtureat/store/entity/Store.java
  backend/src/main/java/com/shinhan/naengtureat/store/entity/StoreProduct.java
  backend/src/main/java/com/shinhan/naengtureat/store/entity/StoreReview.java
Labels: FEAT, Backend

#20 feat : Mealplan, Hashtag, RecipeHashtag 엔티티 생성
  backend/src/main/java/com/shinhan/naengtureat/mealplan/entity/Mealplan.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/Hashtag.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/RecipeHashtag.java
Labels: FEAT, Backend

#28 refactor: Store Entity의 roadAddressName 길이 제한 설정
  backend/src/main/java/com/shinhan/naengtureat/store/entity/Store.java
Labels: REFACTOR, Backend

#29 Feat/#24 create orders entity
  backend/src/main/java/com/shinhan/naengtureat/orders/entity/Orders.java
  backend/src/main/java/com/shinhan/naengtureat/orders/entity/OrdersDetail.java
  backend/src/main/java/com/shinhan/naengtureat/pay/entity/Pay.java
Labels: FEAT, Backend

#53 Feat/#25 chat gpt api
  backend/build.gradle
  backend/src/main/java/com/shinhan/naengtureat/chatgpt/ChatGPTRequest.java
  backend/src/main/java/com/shinhan/naengtureat/chatgpt/ChatGptResponse.java
  backend/src/main/java/com/shinhan/naengtureat/chatgpt/CustomBotController.java
  backend/src/main/java/com/shinhan/naengtureat/chatgpt/GlobalExceptionHandler.java
  backend/src/main/java/com/shinhan/naengtureat/chatgpt/Message.java
  backend/src/main/java/com/shinhan/naengtureat/chatgpt/OpenAIConfig.java
  backend/src/main/java/com/shinhan/naengtureat/common/security/AuditorAwareImpl.java
Labels: BUILD, FEAT, REFACTOR, Backend, RENAME, 이태한

#56 feat: recipe insert 기능
  backend/src/main/java/com/shinhan/naengtureat/ingredient/model/IngredientRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeIngredientDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeStepDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeHashtagRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeIngredientRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeStepRepository.java
Labels: FEAT, Backend, 윤성웅

#62 feat: recipe 전체조회
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/vo/RecipeVO.java
Labels: FEAT, Backend, 윤성웅

#70 feat: 멤버레시피 조회
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 류혜진

#74 feat : 테마(키워드) 조회
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeHashtagRepository.java
Labels: FEAT, Backend, 이태한

#76 feat: 좋아요 등록, 삭제
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/LikesDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/LikesRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/LikesService.java
Labels: FEAT, Backend, 윤성웅

#78 feat: 식단 일간 조회
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/dto/MealPlanDTO.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/vo/MealPlanVO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/Recipe.java
Labels: FEAT, Backend, 박은지

#84 Feat/#69 comment crud
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/CommentDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/CommentRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/vo/RecipeVO.java
Labels: FEAT, Backend, 윤성웅

#82 feat: 예산 업데이트 기능 추가
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/member/model/MemberRepository.java
  backend/src/main/java/com/shinhan/naengtureat/member/model/MemberService.java
Labels: FEAT, Backend, 이태한

#87 feat: 카테고리별(한식,중식) 레시피 필터 기능
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, STYLE, Backend, 윤성웅

#80 feat: 스토어 후기 조회
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StoreDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StoreProductDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StoreReviewDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductService.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreReviewRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreReviewService.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreService.java
  backend/src/main/java/com/shinhan/naengtureat/store/vo/StoreProductVO.java
  backend/src/main/java/com/shinhan/naengtureat/store/vo/StoreReviewVO.java
  backend/src/main/java/com/shinhan/naengtureat/store/vo/StoreVO.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#94 feat : 식단 재료 vs 멤버 인벤토리 재료 비교 리스트 조회
  backend/src/main/java/com/shinhan/naengtureat/ingredient/dto/IngredientComparisonDTO.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/InventoryController.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryService.java
Labels: FEAT, Backend, 이태한

#88 feat: 식단 월간 조회
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#96 feat: 스토어 상세 조회
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StoreDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/entity/Store.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreService.java
Labels: FEAT, REFACTOR, Backend, 김광진, 리뷰완료

#108 feat: 스토어 상품 조회
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StoreProductDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/entity/StoreProduct.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductService.java
  backend/src/main/java/com/shinhan/naengtureat/store/vo/StoreProductVO.java
  backend/src/main/java/com/shinhan/naengtureat/store/vo/StoreReviewVO.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#97 feat: 식단 주간 조회
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#99 feat: 저장된 식단 단건 삭제
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
  backend/src/test/java/com/shinhan/naengtureat/InventoryCRUDTest.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#120 feat: 스토어 내 재료(상품) 검색
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductService.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#118 feat: 식단 이행여부 체크
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 박은지

#119 feat: 저장된 식단 이동
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 박은지

#129 refactor: 부족재료 리스트 조회
  backend/src/main/java/com/shinhan/naengtureat/inventory/InventoryController.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryService.java
Labels: REFACTOR, STYLE, Backend, 이태한, 리뷰완료

#127 feat : 스토어(부족재료) 조회
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StorePriceDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreService.java
Labels: FEAT, Backend, 이태한, 리뷰완료

#121 feat: 스토어 재료 카테고리 필터
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductService.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#125 feat: 장바구니 조회
  backend/src/main/java/com/shinhan/naengtureat/member/dto/CartDTO.java
  backend/src/main/java/com/shinhan/naengtureat/member/vo/CartVO.java
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
Labels: FEAT, REFACTOR, Backend, 김광진, 리뷰완료

#130 feat: 장바구니 추가
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#132 feat: 장바구니 재료 삭제
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#141 feat: CorsConfig 생성
  backend/src/main/java/com/shinhan/naengtureat/common/config/CorsConfig.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#138 refactor: 장바구니 중복 재료(상품) 추가 관련 로직 추가
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
Labels: REFACTOR, Backend, 김광진, 리뷰완료

#158 feat: recipe 내 식단에 추가 기능
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/dto/MealPlanCheckDTO.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 윤성웅

#160 feat: 레시피 bigCategory로 필터링하는 기능
  backend/src/main/java/com/shinhan/naengtureat/orders/model/OrdersRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 윤성웅

#164 feat: 레시피 sort 기능
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/entity/Recipe.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 윤성웅, 리뷰완료

#179 refactor: RecipeController 코드 리팩토링
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
Labels: REFACTOR, Backend, 윤성웅

#182 feat: 마이페이지 레시피 조회, 삭제, 수정 기능 추가
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/MyRecipeDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/HashtagRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeHashtagRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeIngredientRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeStepRepository.java
Labels: FEAT, Backend, 류혜진, 리뷰완료

#192 docs: auto_assign.yml에 reviewer Woong0405 추가
  .github/auto_assign.yml
Labels: DOCS, 송재명, 리뷰완료

#189 refactor: MealPlanController return값 리팩토링
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
Labels: REFACTOR, Backend, 박은지

#180 refactor: StoreController BaseResponse 전략 적용
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
Labels: REFACTOR, Backend, 김광진, 리뷰완료

#201 feat 부족한 재료 조회( 재료사진, 재료 단위 컬럼 추가)
  backend/src/main/java/com/shinhan/naengtureat/ingredient/dto/IngredientComparisonDTO.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryService.java
Labels: FEAT, Backend, 이태한, 리뷰완료

#186 feat: 로그인 한 사용자 정보 조회
  backend/src/main/java/com/shinhan/naengtureat/member/MemberController.java
  backend/src/main/java/com/shinhan/naengtureat/member/dto/MemberDTO.java
  backend/src/main/java/com/shinhan/naengtureat/member/model/MemberService.java
Labels: FEAT, REFACTOR, Backend, 김광진, 리뷰재요청필요

#204 Refactor/#203 refactor categoryfilter
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: REFACTOR, Backend, 윤성웅

#207 refactor 부족한 재료 조회-변수명 수정
  backend/src/main/java/com/shinhan/naengtureat/ingredient/dto/IngredientComparisonDTO.java
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryService.java
Labels: REFACTOR, STYLE, Backend, 이태한

#210 feat: 주간 식단 페이지 개발
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/axios.js
  frontend/src/config/pathConfig.js
  frontend/src/hooks/useMealPlan.js
  frontend/src/hooks/useMealPlanActions.js
  frontend/src/pages/mealPlan/MealPlanHeader.jsx
  frontend/src/pages/mealPlan/MealPlanListDaily.jsx
  frontend/src/pages/mealPlan/MonthlyMealPlan.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlan.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlanTable.jsx
  frontend/src/styles/mealPlan/MealPlanHeader.css
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
Labels: FEAT, Frontend, 박은지, 리뷰완료

#212 feat: 전체 레시피 조회 페이지
  frontend/src/pages/recipe/CategoryFilter.jsx
  frontend/src/pages/recipe/IngredientFilter.jsx
  frontend/src/pages/recipe/RecipeDetail.jsx
  frontend/src/pages/recipe/RecipeList.jsx
  frontend/src/pages/recipe/RecipeListGrid.jsx
  frontend/src/pages/recipe/RecipeSearchPage.jsx
  frontend/src/pages/recipe/SearchBar.jsx
  frontend/src/pages/recipe/SortFilter.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
  frontend/src/styles/recipe/Recipe.css
Labels: FEAT, Frontend, 윤성웅, 리뷰완료

#217 refactor: RecipeHashtagDTO 수정
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeHashtagDTO.java
Labels: REFACTOR, Backend, 윤성웅

#219 Feat : 마이페이지 화면 생성
  backend/src/main/java/com/shinhan/naengtureat/pay/PayController.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/TopNav.js
  frontend/src/pages/myPage/MyPage.jsx
  frontend/src/pages/myPage/bagicprofile.png
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 류혜진, 리뷰완료

#227 feat:레시피 상세 조회 페이지
  frontend/package.json
  frontend/src/pages/recipe/RecipeDetail.jsx
  frontend/src/pages/recipe/RecipeList.jsx
  frontend/src/pages/recipe/RecipeListGrid.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
  frontend/src/styles/recipe/RecipeDetail.css
Labels: FEAT, Frontend, 윤성웅, 리뷰완료

#231 feat: 월간 식단 조회 수정
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/dto/MonthlyMealPlanDTO.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 박은지

#232 feat: 레시피 이미지 추가
  frontend/public/assets/images/recipes/bulback_1.jpg
  frontend/public/assets/images/recipes/bulback_2.jpg
  frontend/public/assets/images/recipes/bulback_3.jpg
  frontend/public/assets/images/recipes/bulback_4.jpg
  frontend/public/assets/images/recipes/bulback_main.jpg
  frontend/public/assets/images/recipes/bun-cha_1.jpg
  frontend/public/assets/images/recipes/bun-cha_2.jpg
  frontend/public/assets/images/recipes/bun-cha_3.jpg
  frontend/public/assets/images/recipes/bun-cha_4.jpg
  frontend/public/assets/images/recipes/bun-cha_5.jpg
  frontend/public/assets/images/recipes/bun-cha_main.jpg
  frontend/public/assets/images/recipes/dongpayuk_1.jpg
  frontend/public/assets/images/recipes/dongpayuk_2.jpg
  frontend/public/assets/images/recipes/dongpayuk_3.jpg
  frontend/public/assets/images/recipes/dongpayuk_4.jpg
  frontend/public/assets/images/recipes/dongpayuk_5.jpg
  frontend/public/assets/images/recipes/dongpayuk_6.jpg
  frontend/public/assets/images/recipes/dongpayuk_7.jpg
  frontend/public/assets/images/recipes/dongpayuk_8.jpg
  frontend/public/assets/images/recipes/dongpayuk_main.jpg
  frontend/public/assets/images/recipes/kimchi-jjigae_1.jpg
  frontend/public/assets/images/recipes/kimchi-jjigae_2.jpg
  frontend/public/assets/images/recipes/kimchi-jjigae_3.jpg
  frontend/public/assets/images/recipes/kimchi-jjigae_4.jpg
  frontend/public/assets/images/recipes/kimchi-jjigae_5.jpg
  frontend/public/assets/images/recipes/kimchi-jjigae_main.jpg
  frontend/public/assets/images/recipes/kongnamuljjol.jpg
  frontend/public/assets/images/recipes/pasta.jpg
  frontend/public/assets/images/recipes/spagetti_1.jpg
  frontend/public/assets/images/recipes/spagetti_2.jpg
  frontend/public/assets/images/recipes/spagetti_3.jpg
  frontend/public/assets/images/recipes/spagetti_4.jpg
  frontend/public/assets/images/recipes/sukiyaki_1.jpg
  frontend/public/assets/images/recipes/sukiyaki_2.jpg
  frontend/public/assets/images/recipes/sukiyaki_3.jpg
  frontend/public/assets/images/recipes/sukiyaki_4.jpg
  frontend/public/assets/images/recipes/sukiyaki_5.jpg
  frontend/public/assets/images/recipes/sukiyaki_6.jpg
  frontend/public/assets/images/recipes/sukiyaki_main.jpg
  frontend/public/assets/images/recipes/tendon_1.jpg
  frontend/public/assets/images/recipes/tendon_2.jpg
  frontend/public/assets/images/recipes/tendon_3.jpg
  frontend/public/assets/images/recipes/tendon_4.jpg
  frontend/public/assets/images/recipes/tendon_5.jpg
  frontend/public/assets/images/recipes/tendon_6.jpg
  frontend/public/assets/images/recipes/tendon_7.jpg
  frontend/public/assets/images/recipes/tendon_8.jpg
  frontend/public/assets/images/recipes/tendon_main.jpg
  frontend/src/pages/recipe/RecipeDetail.jsx
  frontend/src/pages/recipe/RecipeListGrid.jsx
  frontend/src/styles/recipe/RecipeDetail.css
Labels: DOCS, Frontend, RENAME, 윤성웅

#235 feat: 월간 식단 페이지
  frontend/package.json
  frontend/src/hooks/useMealPlan.js
  frontend/src/pages/mealPlan/MealPlanListDaily.jsx
  frontend/src/pages/mealPlan/MonthlyMealPlan.jsx
  frontend/src/pages/mealPlan/monthly/CalendarView.jsx
  frontend/src/pages/mealPlan/monthly/DailyMealPlanCard.jsx
  frontend/src/pages/mealPlan/monthly/MealPlanSlider.jsx
  frontend/src/pages/mealPlan/monthly/MealPlanSummary.jsx
  frontend/src/pages/mealPlan/monthly/MonthlyMealChart.jsx
  frontend/src/pages/mealPlan/monthly/MonthlyMealPlan.jsx
  frontend/src/styles/mealPlan/DailyMealPlanCard.css
  frontend/src/styles/mealPlan/MonthlyMealPlan.css
  frontend/src/utils/mealPlanUtils.js
Labels: FEAT, Frontend, 박은지

#236 feat: 주간 식단 페이지
  frontend/src/pages/mealPlan/MealPlanHeader.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlan.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlanTable.jsx
  frontend/src/styles/mealPlan/MealPlanHeader.css
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
Labels: DESIGN, Frontend, 박은지

#246 feat: 레시피등록 back추가, 좋아요check api 추가
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/HashtagDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/MealDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/MealRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 윤성웅, 리뷰완료

#247 Feat : 마이페이지- 레시피 조회 화면 생성
  frontend/package-lock.json
  frontend/src/pages/myPage/MyPage.jsx
  frontend/src/pages/myPage/MyRecipes.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 류혜진, 리뷰완료

#251 feat: 레시피 등록 페이지
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/recipe/HashtagsSection.jsx
  frontend/src/pages/recipe/IngredientsSection.jsx
  frontend/src/pages/recipe/OverviewSection.jsx
  frontend/src/pages/recipe/RecipeRegister.jsx
  frontend/src/pages/recipe/StepsSection.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
  frontend/src/styles/recipe/RecipeRegister.css
Labels: FEAT, Frontend, 윤성웅

#255 feat: 주간 식단 페이지 수정
  frontend/src/hooks/useNotEnoughIngredients.js
  frontend/src/pages/mealPlan/MealPlanHeader.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlan.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlanTable.jsx
  frontend/src/styles/mealPlan/MealPlanHeader.css
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
Labels: FEAT, DESIGN, Frontend, 박은지

#264 feat: 스토어 홈 화면
  frontend/package-lock.json
  frontend/public/assets/images/store/1.png
  frontend/public/assets/images/store/homeplus_express.jpg
  frontend/public/assets/images/store/lotte_super.png
  frontend/public/assets/images/store/marker-home.png
  frontend/public/assets/images/store/marker-market.png
  frontend/public/assets/images/store/saruga.jpg
  frontend/public/assets/images/store/telephone.png
  frontend/src/pages/store/KakaoMap.jsx
  frontend/src/pages/store/MapWithBottomSheet.jsx
  frontend/src/pages/store/Store.jsx
  frontend/src/pages/store/StoreDetail.jsx
  frontend/src/pages/store/StoreList.jsx
  frontend/src/pages/store/StoreReviewDetail.jsx
  frontend/src/pages/store/useKakaoLoader.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
  frontend/src/styles/store/MapWithBottomSheet.css
  frontend/src/styles/store/StoreDetail.css
  frontend/src/styles/store/StoreList.css
  frontend/src/styles/store/StoreReviewDetail.css
Labels: FEAT, Frontend, 김광진, 리뷰완료

#268 feat: 레시피디테일 DTO수정
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeDetailDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeIngredientDTO.java
Labels: FEAT, Backend, 윤성웅, 리뷰완료

#269 feat: 레시피 수정 페이지
  frontend/src/pages/myPage/MyRecipes.jsx
  frontend/src/pages/myPage/RecipeEdit.jsx
  frontend/src/pages/recipe/IngredientsSection.jsx
  frontend/src/pages/recipe/OverviewSection.jsx
  frontend/src/pages/recipe/StepsSection.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 윤성웅, 리뷰완료

#285 feat: 로그인한 유저의 pay정보 받아오기
  backend/src/main/java/com/shinhan/naengtureat/pay/PayController.java
  backend/src/main/java/com/shinhan/naengtureat/pay/dto/PayDTO.java
  backend/src/main/java/com/shinhan/naengtureat/pay/model/PayRepository.java
  backend/src/main/java/com/shinhan/naengtureat/pay/model/PayService.java
  backend/src/main/java/com/shinhan/naengtureat/pay/vo/PayVO.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#286 Feat : 넹털잇페이 즉시충전화면 생성
  frontend/src/pages/myPage/InstantCharge.jsx
  frontend/src/pages/myPage/MyPage.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 류혜진

#288 Feat: 생성된 식단 저장하기 기능
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 이태한, 리뷰완료

#291 Feat : 식단 생성
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
  frontend/public/assets/images/icons/breakfast.png
  frontend/public/assets/images/icons/dinner.png
  frontend/public/assets/images/icons/loading.png
  frontend/public/assets/images/icons/lunch.png
  frontend/src/config/pathConfig.js
  frontend/src/context/MealPlanContext.js
  frontend/src/hooks/useMealPlanContext.js
  frontend/src/hooks/useMealPlanInput.js
  frontend/src/pages/mealPlan/BudgetInputPage.js
  frontend/src/pages/mealPlan/GPTchat.js
  frontend/src/pages/mealPlan/Input/BudgetInputPage.js
  frontend/src/pages/mealPlan/Input/CategorySelectionPage.js
  frontend/src/pages/mealPlan/Input/ExcludedIngredientsPage.js
  frontend/src/pages/mealPlan/Input/FrequencyInputPage.js
  frontend/src/pages/mealPlan/Input/PreferredIngredientsPage.js
  frontend/src/pages/mealPlan/Input/ThemeSelectionPage.js
  frontend/src/pages/mealPlan/MakeMealPlan.js
  frontend/src/pages/mealPlan/NotEnoughIngredientListPage.js
  frontend/src/pages/mealPlan/WeeklyMealPlanEditor.js
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, DESIGN, Frontend, 이태한, 리뷰완료

#290 feat : 식단이행여부 체크시 로직 추가
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/MealPlanController.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FEAT, Backend, 윤성웅, 리뷰완료

#293 feat: 레시피 조회 쿼리 수정
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeMainDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: REFACTOR, Backend, 윤성웅

#295 feat: 장바구니 수량(count) 수정
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
Labels: FEAT, Backend, 김광진, 리뷰완료

#296 Feat ; 필터 후 전체 레시피 및 관련 정보 조회
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeSimpleDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 이태한

#302 feat: 레시피전체조회 페이지 필터링 수정
  frontend/src/pages/myPage/RecipeEdit.jsx
  frontend/src/pages/recipe/RecipeDetail/CommentsSection.jsx
  frontend/src/pages/recipe/RecipeDetail/MealPlanModal.jsx
  frontend/src/pages/recipe/RecipeDetail/RecipeDetail.jsx
  frontend/src/pages/recipe/RecipeList.jsx
  frontend/src/pages/recipe/RecipeMain/CategoryFilter.jsx
  frontend/src/pages/recipe/RecipeMain/IngredientFilter.jsx
  frontend/src/pages/recipe/RecipeMain/RecipeList.jsx
  frontend/src/pages/recipe/RecipeMain/RecipeListGrid.jsx
  frontend/src/pages/recipe/RecipeMain/RecipeSearchPage.jsx
  frontend/src/pages/recipe/RecipeMain/SearchBar.jsx
  frontend/src/pages/recipe/RecipeMain/SortFilter.jsx
  frontend/src/pages/recipe/RecipeRegister/HashtagsSection.jsx
  frontend/src/pages/recipe/RecipeRegister/IngredientsSection.jsx
  frontend/src/pages/recipe/RecipeRegister/OverviewSection.jsx
  frontend/src/pages/recipe/RecipeRegister/RecipeRegister.jsx
  frontend/src/pages/recipe/RecipeRegister/StepsSection.jsx
  frontend/src/routes/appRouter.js
Labels: REFACTOR, Frontend, 윤성웅

#305 Feat : 냉털잇페이 충전잔액 /포인트 등록
  backend/src/main/java/com/shinhan/naengtureat/pay/PayController.java
  backend/src/main/java/com/shinhan/naengtureat/pay/model/PayService.java
  frontend/package-lock.json
  frontend/package.json
Labels: FEAT, Backend, 류혜진

#310 Feat 전체 레시피 가져오기 -식단 생성
  frontend/src/pages/mealPlan/GPTchat.js
Labels: FIX, FEAT, REFACTOR, Frontend, 이태한

#309 feat: 장바구니 화면 개발
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/store/Cart.jsx
  frontend/src/pages/store/StoreDetail.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
  frontend/src/styles/store/Cart.css
  frontend/src/styles/store/StoreDetail.css
Labels: FEAT, Frontend, 김광진

#312 Refactor : 전체 레시피 및 관련 정보 조회 쿼리 변경
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  frontend/src/routes/appRouter.js
Labels: FEAT, REFACTOR, Backend, 이태한

#315 부족한재료리스트 페이지 수정
  frontend/src/components/FloatingNextButton.js
  frontend/src/pages/mealPlan/IngredientStoreListPage.js
  frontend/src/pages/mealPlan/NotEnoughIngredientListPage.js
Labels: FIX, FEAT, DESIGN, Frontend, 이태한, 리뷰완료

#317 Refactor 전체 레시피 조회 필터 적용 쿼리 수정
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
Labels: FEAT, Backend, 이태한

#319 feat: RecipeMainDTO like수 가져오게 수정
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeMainDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
Labels: REFACTOR, Backend, 윤성웅

#322 feat: 레시피 등록 후 토스트알람,네비게이트 생성
  frontend/src/pages/recipe/RecipeRegister/RecipeRegister.jsx
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 윤성웅

#324 feat: 이미지저장
  frontend/public/assets/images/recipes/budaejjigae_1.jpg
  frontend/public/assets/images/recipes/budaejjigae_2.jpg
  frontend/public/assets/images/recipes/budaejjigae_3.jpg
  frontend/public/assets/images/recipes/budaejjigae_4.jpg
  frontend/public/assets/images/recipes/budaejjigae_5.jpg
  frontend/public/assets/images/recipes/miyukkook_1.jpg
  frontend/public/assets/images/recipes/miyukkook_2.jpg
  frontend/public/assets/images/recipes/miyukkook_3.jpg
  frontend/public/assets/images/recipes/miyukkook_4.jpg
  frontend/public/assets/images/recipes/spamtufujjagle_1.jpg
  frontend/public/assets/images/recipes/spamtufujjagle_2.jpg
  frontend/public/assets/images/recipes/spamtufujjagle_3.jpg
  frontend/public/assets/images/recipes/spamtufujjagle_4.jpg
  frontend/public/assets/images/recipes/spamtufujjagle_5.jpg
  frontend/public/assets/images/recipes/tomatosoup_1.jpg
  frontend/public/assets/images/recipes/tomatosoup_2.jpg
  frontend/public/assets/images/recipes/tomatosoup_3.jpg
  frontend/public/assets/images/recipes/tomatosoup_4.jpg
  frontend/public/assets/images/recipes/tomatosoup_5.jpg
  frontend/public/assets/images/recipes/tomatosoup_6.jpg
Labels: STYLE, Frontend, 윤성웅, 리뷰완료

#325 Feat 식단 생성 수정
  frontend/src/context/MealPlanContext.js
  frontend/src/pages/mealPlan/GPTchat.js
  frontend/src/pages/mealPlan/Input/CategorySelectionPage.js
  frontend/src/pages/mealPlan/Input/FrequencyInputPage.js
  frontend/src/pages/mealPlan/Input/ThemeSelectionPage.js
  frontend/src/pages/mealPlan/WeeklyMealPlanEditor.js
Labels: FIX, FEAT, DESIGN, Frontend, 이태한, 리뷰완료

#326 feat: 스토어 내 검색 및 필터 기능 추가
  frontend/src/pages/store/StoreDetail.jsx
Labels: FEAT, Frontend, 김광진, 리뷰완료

#330 Feat 식단 이동 버그 수정, boxchoice.css 수정
  frontend/src/pages/mealPlan/Input/CategorySelectionPage.js
  frontend/src/pages/mealPlan/Input/ThemeSelectionPage.js
  frontend/src/pages/mealPlan/WeeklyMealPlanEditor.js
  frontend/src/styles/mealPlan/BoxChoice.css
Labels: FIX, DESIGN, Frontend, 이태한

#331 feat: 이미지저장
  frontend/public/assets/images/recipes/abodeopbab-1.jpg
  frontend/public/assets/images/recipes/abodeopbab-2.jpg
  frontend/public/assets/images/recipes/abodeopbab-3.jpg
  frontend/public/assets/images/recipes/abodeopbab-4.jpg
  frontend/public/assets/images/recipes/abodeopbab-main.jpg
  frontend/public/assets/images/recipes/kimchissalguksoo-1.jpg
  frontend/public/assets/images/recipes/kimchissalguksoo-2.jpg
  frontend/public/assets/images/recipes/kimchissalguksoo-3.jpg
  frontend/public/assets/images/recipes/kimchissalguksoo-main.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-1.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-2.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-3.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-4.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-5.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-6.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-7.jpg
  frontend/public/assets/images/recipes/kongnamuljeyuk-main.jpg
  frontend/public/assets/images/recipes/kreampassta-1.jpg
  frontend/public/assets/images/recipes/kreampassta-2.jpg
  frontend/public/assets/images/recipes/kreampassta-3.jpg
  frontend/public/assets/images/recipes/kreampassta-4.jpg
  frontend/public/assets/images/recipes/kreampassta-5.jpg
  frontend/public/assets/images/recipes/kreampassta-6.jpg
  frontend/public/assets/images/recipes/kreampassta-7.jpg
  frontend/public/assets/images/recipes/kreampassta-main.jpg
  frontend/public/assets/images/recipes/ojinachae-1.jpg
  frontend/public/assets/images/recipes/ojinachae-2.jpg
  frontend/public/assets/images/recipes/ojinachae-3.jpg
  frontend/public/assets/images/recipes/ojinachae-4.jpg
  frontend/public/assets/images/recipes/ojinachae-main.jpg
  frontend/public/assets/images/recipes/shirimpbokkeumbap-1.jpg
  frontend/public/assets/images/recipes/shirimpbokkeumbap-2.jpg
  frontend/public/assets/images/recipes/shirimpbokkeumbap-3.jpg
  frontend/public/assets/images/recipes/shirimpbokkeumbap-4.jpg
  frontend/public/assets/images/recipes/shirimpbokkeumbap-5.jpg
  frontend/public/assets/images/recipes/shirimpbokkeumbap-main.jpg
  frontend/public/assets/images/recipes/sobulgogi-1.jpg
  frontend/public/assets/images/recipes/sobulgogi-2.jpg
  frontend/public/assets/images/recipes/sobulgogi-3.jpg
  frontend/public/assets/images/recipes/sobulgogi-4.jpg
  frontend/public/assets/images/recipes/sobulgogi-main.jpg
  frontend/public/assets/images/recipes/summerroll-1.jpg
  frontend/public/assets/images/recipes/summerroll-2.jpg
  frontend/public/assets/images/recipes/summerroll-3.jpg
  frontend/public/assets/images/recipes/summerroll-4.jpg
  frontend/public/assets/images/recipes/summerroll-5.jpg
  frontend/public/assets/images/recipes/summerroll-6.jpg
  frontend/public/assets/images/recipes/summerroll-main.jpg
  frontend/public/assets/images/recipes/wooungkimbab-1.jpg
  frontend/public/assets/images/recipes/wooungkimbab-2.jpg
  frontend/public/assets/images/recipes/wooungkimbab-3.jpg
  frontend/public/assets/images/recipes/wooungkimbab-4.jpg
  frontend/public/assets/images/recipes/wooungkimbab-5.jpg
  frontend/public/assets/images/recipes/wooungkimbab-6.jpg
  frontend/public/assets/images/recipes/wooungkimbab-main.jpg
Labels: Frontend, 윤성웅

#334 feat: 레시피 좋아요체크
  backend/src/main/java/com/shinhan/naengtureat/recipe/RecipeController.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeDetailDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/TopRecipeResponseDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeService.java
Labels: FEAT, Backend, 윤성웅, 리뷰완료

#337 feat: 레시피 좋아요체크
  frontend/src/pages/recipe/RecipeDetail/RecipeDetail.jsx
Labels: FIX, Frontend, 윤성웅

#336 feat: 장바구니 주문하기 → 결제하기 연동
  backend/src/main/java/com/shinhan/naengtureat/orders/OrdersController.java
  frontend/src/pages/store/Cart.jsx
Labels: FEAT, Frontend, 김광진, 리뷰완료

#344 feat: 메인페이지, 레시피등록페이지 수정
  frontend/src/pages/home/HomePage.jsx
  frontend/src/pages/recipe/RecipeRegister/IngredientsSection.jsx
  frontend/src/pages/recipe/RecipeRegister/RecipeRegister.jsx
  frontend/src/styles/home/HomePage.css
  frontend/src/styles/inventory/inventoryDetail.css
Labels: FEAT, DESIGN, Frontend, 윤성웅, 리뷰완료

#347 fix: 지도 위치, 홈 화면 렌더링 버그 수정
  frontend/src/pages/home/HomePage.jsx
  frontend/src/pages/store/KakaoMap.jsx
  frontend/src/pages/store/MapWithBottomSheet.jsx
  frontend/src/styles/store/MapWithBottomSheet.css
Labels: FIX, REFACTOR, Frontend, 김광진, 리뷰완료

#349 feat: 주문하기 기능 수정
  backend/src/main/java/com/shinhan/naengtureat/orders/OrdersController.java
  backend/src/main/java/com/shinhan/naengtureat/orders/dto/OrdersResponseDTO.java
  backend/src/main/java/com/shinhan/naengtureat/orders/dto/PaymentDTO.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#353 feat: 레시피 상세페이지 css수정
  frontend/src/pages/recipe/RecipeDetail/CommentsSection.jsx
  frontend/src/pages/recipe/RecipeDetail/RecipeDetail.jsx
  frontend/src/styles/mealPlan/shoppingList.css
  frontend/src/styles/recipe/RecipeDetail.css
Labels: DESIGN, Frontend, 윤성웅

#346 Fix 식단 중복생성 버그 수정
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FIX, Backend, 이태한, 리뷰완료

#356 feat: 메인에서 레시피 상세로 보내기
  frontend/src/pages/home/HomePage.jsx
Labels: FEAT, Frontend, 윤성웅

#357 Feat 식단 생성 디자인, 식단 이동 버그 수정
  frontend/src/pages/mealPlan/GPTchat.js
  frontend/src/pages/mealPlan/IngredientStoreListPage.js
  frontend/src/pages/mealPlan/Input/BudgetInputPage.js
  frontend/src/pages/mealPlan/Input/CategorySelectionPage.js
  frontend/src/pages/mealPlan/Input/ExcludedIngredientsPage.js
  frontend/src/pages/mealPlan/Input/FrequencyInputPage.js
  frontend/src/pages/mealPlan/Input/PreferredIngredientsPage.js
  frontend/src/pages/mealPlan/Input/ThemeSelectionPage.js
  frontend/src/pages/mealPlan/NotEnoughIngredientListPage.js
  frontend/src/pages/mealPlan/WeeklyMealPlanEditor.js
  frontend/src/styles/mealPlan/BoxChoice.css
  frontend/src/styles/mealPlan/BudgetInput.css
  frontend/src/styles/mealPlan/IngredientPage.css
  frontend/src/styles/mealPlan/button.css
  frontend/src/styles/mealPlan/grids.css
  frontend/src/styles/mealPlan/shoppingList.css
Labels: FIX, FEAT, Frontend, 이태한, 리뷰완료

#361 Feat 장바구니 담기 기능 추가(부족한재료-스토어)
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/CartRequestDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/StorePriceDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
Labels: FEAT, Backend, 이태한, 리뷰완료

#365 feat: 탑네비바 동적경로 처리 함수 추가
  frontend/src/components/common/TopNav.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 윤성웅, 리뷰완료

#363 Fix 폰트 및 화면 수정, 이미지 에러 수정
  frontend/src/pages/mealPlan/IngredientStoreListPage.js
  frontend/src/pages/mealPlan/NotEnoughIngredientListPage.js
  frontend/src/styles/mealPlan/shoppingList.css
Labels: FIX, DESIGN, Frontend, 이태한, 리뷰완료

#370 feat: 홈 식단 섹션 수정
  frontend/src/pages/home/HomePage.jsx
  frontend/src/styles/home/HomePage.css
Labels: FIX, Frontend, 윤성웅

#375 feat: 전체 페이지 탑네비바 수정
  frontend/src/components/common/TopNav.js
  frontend/src/pages/inventory/InventoryCreate.jsx
  frontend/src/pages/inventory/InventoryDetail.jsx
  frontend/src/pages/myPage/MyRecipes.jsx
  frontend/src/pages/myPage/RecipeEdit.jsx
  frontend/src/pages/recipe/RecipeRegister/RecipeRegister.jsx
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 윤성웅

#386 feat: 레시피 식재료필터 선택 시, 선택한 식재료 보여주기
  frontend/src/pages/recipe/RecipeMain/RecipeList.jsx
  frontend/src/styles/recipe/Recipe.css
Labels: FEAT, Frontend, 윤성웅

#384 feat: 장바구니 단일 스토어 상품만 담기
  frontend/src/pages/store/StoreDetail.jsx
  frontend/src/styles/store/StoreDetail.css
Labels: FEAT, Frontend, 김광진

#392 chore: corsConfig 수정
  backend/src/main/java/com/shinhan/naengtureat/common/config/CorsConfig.java
Labels: Backend, 박은지, CHORE

#398 feat: 레시피 등록 후 toast알람 뜨게 수정
  frontend/src/pages/recipe/RecipeMain/RecipeList.jsx
  frontend/src/pages/recipe/RecipeRegister/RecipeRegister.jsx
Labels: FIX, Frontend, 윤성웅

#389 refactor: 장바구니 주문하기 → 결제하기 전달 데이터 수정
  frontend/src/pages/store/Cart.jsx
Labels: REFACTOR, Frontend, 김광진

#403 feat: 결제하기 기능 수정
  backend/src/main/java/com/shinhan/naengtureat/member/model/MemberService.java
  backend/src/main/java/com/shinhan/naengtureat/orders/OrdersController.java
Labels: FEAT, Backend, 박은지

#404 fix: 포인트 적립 로직 삭제
  backend/src/main/java/com/shinhan/naengtureat/pay/PayController.java
  backend/src/main/java/com/shinhan/naengtureat/pay/model/PayService.java
Labels: FIX, Backend, 박은지

#405 feat: 냉털잇페이로 결제하는 기능 개발
  backend/src/main/java/com/shinhan/naengtureat/pay/PayController.java
  backend/src/main/java/com/shinhan/naengtureat/pay/model/PayService.java
Labels: FEAT, Backend, 박은지, 리뷰완료

#406 feat: 주문하기 화면 개발
  frontend/src/config/pathConfig.js
  frontend/src/index.js
  frontend/src/pages/store/OrderComplete.jsx
  frontend/src/pages/store/OrderDetail.jsx
  frontend/src/pages/store/OrderSuccess.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
  frontend/src/styles/store/OrderDetail.css
  frontend/src/styles/store/OrderSuccess.css
Labels: FEAT, Frontend, 박은지

#415 feat: 주문완료시 구매한 상품 인벤토리에 추가
  backend/src/main/java/com/shinhan/naengtureat/NaengtureatApplication.java
  backend/src/main/java/com/shinhan/naengtureat/orders/OrdersController.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductService.java
Labels: FEAT, Backend, 윤성웅, 리뷰완료

#418 fix: 냉털잇페이 충전시 transcational 수정
  backend/.gitignore
  backend/src/main/java/com/shinhan/naengtureat/pay/PayController.java
  backend/src/main/java/com/shinhan/naengtureat/pay/model/PayService.java
Labels: FIX, Backend, 박은지

#420 feat: 레시피 등록할 때 해시태그 저장안되는 버그 수정
  frontend/public/assets/images/recipes/bokkeumbap-1.jpg
  frontend/public/assets/images/recipes/bokkeumbap-2.jpg
  frontend/public/assets/images/recipes/bokkeumbap-3.jpg
  frontend/public/assets/images/recipes/bokkeumbap-4.jpg
  frontend/public/assets/images/recipes/bokkeumbap-5.jpg
  frontend/public/assets/images/recipes/bokkeumbap-main.jpg
  frontend/public/assets/images/recipes/eggpasta-1.jpg
  frontend/public/assets/images/recipes/eggpasta-2.jpg
  frontend/public/assets/images/recipes/eggpasta-3.jpg
  frontend/public/assets/images/recipes/eggpasta-4.jpg
  frontend/public/assets/images/recipes/eggpasta-5.jpg
  frontend/public/assets/images/recipes/eggpasta-6.jpg
  frontend/public/assets/images/recipes/eggpasta-7.jpg
  frontend/public/assets/images/recipes/eggpasta-main.jpg
  frontend/public/assets/images/recipes/fisheggjjim-1.jpg
  frontend/public/assets/images/recipes/fisheggjjim-2.jpg
  frontend/public/assets/images/recipes/fisheggjjim-3.jpg
  frontend/public/assets/images/recipes/fisheggjjim-4.jpg
  frontend/public/assets/images/recipes/fisheggjjim-5.jpg
  frontend/public/assets/images/recipes/fisheggjjim-6.jpg
  frontend/public/assets/images/recipes/fisheggjjim-7.jpg
  frontend/public/assets/images/recipes/fisheggjjim-main.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-1.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-2.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-3.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-4.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-5.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-6.jpg
  frontend/public/assets/images/recipes/gogumacheezejun-main.jpg
  frontend/public/assets/images/recipes/kimchikongnamulguk-1.jpg
  frontend/public/assets/images/recipes/kimchikongnamulguk-2.jpg
  frontend/public/assets/images/recipes/kimchikongnamulguk-3.jpg
  frontend/public/assets/images/recipes/kimchikongnamulguk-4.jpg
  frontend/public/assets/images/recipes/kimchikongnamulguk-5.jpg
  frontend/public/assets/images/recipes/kimchikongnamulguk-main.jpg
  frontend/public/assets/images/recipes/menbosha-1.jpg
  frontend/public/assets/images/recipes/menbosha-2.jpg
  frontend/public/assets/images/recipes/menbosha-3.jpg
  frontend/public/assets/images/recipes/menbosha-4.jpg
  frontend/public/assets/images/recipes/menbosha-5.jpg
  frontend/public/assets/images/recipes/menbosha-6.jpg
  frontend/public/assets/images/recipes/menbosha-7.jpg
  frontend/public/assets/images/recipes/menbosha-main.jpg
  frontend/public/assets/images/recipes/salmonkimbap-1.jpg
  frontend/public/assets/images/recipes/salmonkimbap-2.jpg
  frontend/public/assets/images/recipes/salmonkimbap-3.jpg
  frontend/public/assets/images/recipes/salmonkimbap-4.jpg
  frontend/public/assets/images/recipes/salmonkimbap-5.jpg
  frontend/public/assets/images/recipes/salmonkimbap-6.jpg
  frontend/public/assets/images/recipes/salmonkimbap-7.jpg
  frontend/public/assets/images/recipes/salmonkimbap-main.jpg
  frontend/src/pages/recipe/RecipeRegister/RecipeRegister.jsx
Labels: FIX, Frontend, 윤성웅

#422 Feat to
  frontend/public/assets/images/icons/makeplan.gif
  frontend/src/hooks/useNotEnoughIngredients.js
  frontend/src/pages/mealPlan/GPTchat.js
  frontend/src/pages/mealPlan/IngredientStoreListPage.js
  frontend/src/pages/mealPlan/Input/FrequencyInputPage.js
  frontend/src/pages/mealPlan/MealPlanListDaily.jsx
  frontend/src/pages/mealPlan/NotEnoughIngredientListPage.js
  frontend/src/pages/mealPlan/WeeklyMealPlanEditor.js
  frontend/src/styles/mealPlan/BoxChoice.css
  frontend/src/styles/mealPlan/grids.css
  frontend/src/styles/store/StoreDetail.css
Labels: FIX, FEAT, DESIGN, Frontend, 이태한, 리뷰완료

#421 design: 스토어 전체적인 css 및 navigate 경로 수정
  frontend/public/assets/images/ingredients/bakery-items1.jpg
  frontend/public/assets/images/ingredients/bakery-items2.jpg
  frontend/public/assets/images/ingredients/bakery-items3.jpg
  frontend/public/assets/images/ingredients/bakery-items4.jpg
  frontend/public/assets/images/ingredients/bakery-items5.jpg
  frontend/public/assets/images/ingredients/bakery-items6.jpg
  frontend/public/assets/images/store/1.png
  frontend/public/assets/images/store/w.png
  frontend/src/pages/store/Cart.jsx
  frontend/src/pages/store/KakaoMap.jsx
  frontend/src/pages/store/MapWithBottomSheet.jsx
  frontend/src/pages/store/StoreDetail.jsx
  frontend/src/routes/routeConfig.js
  frontend/src/styles/store/Cart.css
  frontend/src/styles/store/StoreDetail.css
Labels: DESIGN, Frontend, 김광진, 리뷰완료

#428 fix: 스토어 재료(상품) 결제하기 수정
  frontend/src/pages/store/OrderComplete.jsx
  frontend/src/pages/store/OrderSuccess.jsx
Labels: FIX, Frontend, 박은지

#426 feat: 냉털잇페이 충전페이지 개발
  frontend/src/config/pathConfig.js
  frontend/src/pages/myPage/ChargeComplete.jsx
  frontend/src/pages/myPage/ChargeSuccess.jsx
  frontend/src/pages/myPage/InstantCharge.jsx
  frontend/src/routes/appRouter.js
  frontend/src/routes/routeConfig.js
Labels: FEAT, Frontend, 박은지

#430 fix: 마이페이지 화면 수정
  frontend/public/assets/images/profiles/basicprofile.png
  frontend/src/components/common/TopNav.js
  frontend/src/pages/myPage/MyPage.jsx
  frontend/src/styles/common/topNav.css
Labels: FIX, Frontend, 박은지

#435 Fix 부족한재료조회 일자 쿼리 수정
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
Labels: FIX, Backend, 이태한

#444 fix: 월간 외식비용 정산 로직 수정
  frontend/src/utils/mealPlanUtils.js
Labels: FIX, Frontend, 박은지

#445 design: 식단 로딩 css 수정
  frontend/src/pages/mealPlan/MealPlanHeader.jsx
  frontend/src/pages/mealPlan/MealPlanListDaily.jsx
  frontend/src/styles/mealPlan/MealPlanHeader.css
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
Labels: DESIGN, Frontend, 박은지

#439 design: 스토어 바텀 시트 렌더링 시 효과 적용
  frontend/src/styles/store/MapWithBottomSheet.css
Labels: DESIGN, REFACTOR, Frontend, 김광진, 리뷰완료

#450 design: 주문하기 페이지 css 수정
  frontend/src/pages/store/OrderDetail.jsx
  frontend/src/routes/routeConfig.js
  frontend/src/styles/store/OrderDetail.css
Labels: DESIGN, Frontend, 박은지

#451 design: 주문결제중화면 페이지 css 수정
  frontend/public/assets/images/3dGif/ReceiptLoading.gif
  frontend/src/config/pathConfig.js
  frontend/src/pages/store/OrderComplete.jsx
  frontend/src/styles/store/OrderComplete.css
Labels: DESIGN, Frontend, 박은지

#452 design: 스토어 화면 수정
  frontend/public/assets/images/icons/user-icon.png
  frontend/public/assets/images/store/CartEmpty.jpg
  frontend/public/assets/images/store/StoreProductEmpty.jpg
  frontend/public/assets/images/store/StoreReviewEmpty.jpg
  frontend/src/pages/store/Cart.jsx
  frontend/src/pages/store/KakaoMap.jsx
  frontend/src/pages/store/StoreDetail.jsx
  frontend/src/pages/store/StoreList.jsx
  frontend/src/pages/store/StoreReviewDetail.jsx
  frontend/src/styles/store/Cart.css
  frontend/src/styles/store/StoreDetail.css
  frontend/src/styles/store/StoreList.css
  frontend/src/styles/store/StoreReviewDetail.css
Labels: DESIGN, Frontend, 김광진

#459 design: 식단 이행 포인트 적립 css 수정
  frontend/public/assets/images/3dGif/checkMeal.gif
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlan.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlanTable.jsx
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
Labels: DESIGN, Frontend, 박은지

#468 feat: 레시피조회시 멤버이미지 가져오게 수정
  backend/src/main/java/com/shinhan/naengtureat/recipe/dto/RecipeMainDTO.java
  backend/src/main/java/com/shinhan/naengtureat/recipe/model/RecipeRepository.java
Labels: FIX, Backend, 윤성웅

#460 fix: 식단 이행여부 체크 api 수정
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/mealplan/model/MealPlanService.java
Labels: FIX, Backend, 박은지

#474 feat: 레시피조회, 상세조회 페이지 수정
  frontend/public/assets/images/profiles/user-icon.png
  frontend/src/components/common/BottomNav.js
  frontend/src/pages/recipe/RecipeDetail/RecipeDetail.jsx
  frontend/src/pages/recipe/RecipeMain/IngredientFilter.jsx
  frontend/src/pages/recipe/RecipeMain/RecipeList.jsx
  frontend/src/pages/recipe/RecipeMain/RecipeListGrid.jsx
  frontend/src/routes/routeConfig.js
  frontend/src/styles/recipe/Recipe.css
  frontend/src/styles/recipe/RecipeDetail.css
Labels: DESIGN, Frontend, 윤성웅, 리뷰완료

#477 feat: 레시피 axios주소수정
  frontend/src/pages/recipe/RecipeMain/RecipeList.jsx
Labels: FIX, Frontend, 윤성웅

#482 feat: 레시피 조회시 default 추천순으로 보이게 수정
  frontend/src/pages/recipe/RecipeMain/RecipeList.jsx
Labels: FIX, Frontend, 윤성웅

#484 Feat css및 효과 수정 so...many..
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/images/icons/enough.png
  frontend/src/hooks/useMealPlanInput.js
  frontend/src/hooks/useNotEnoughIngredients.js
  frontend/src/pages/mealPlan/GPTchat.js
  frontend/src/pages/mealPlan/Input/BudgetInputPage.js
  frontend/src/pages/mealPlan/Input/CategorySelectionPage.js
  frontend/src/pages/mealPlan/Input/ExcludedIngredientsPage.js
  frontend/src/pages/mealPlan/Input/FrequencyInputPage.js
  frontend/src/pages/mealPlan/Input/PreferredIngredientsPage.js
  frontend/src/pages/mealPlan/Input/ThemeSelectionPage.js
  frontend/src/pages/mealPlan/NotEnoughIngredientListPage.js
  frontend/src/pages/mealPlan/WeeklyMealPlanEditor.js
  frontend/src/styles/common/bottomNav.css
  frontend/src/styles/mealPlan/BudgetInput.css
  frontend/src/styles/mealPlan/FrequencyInputPage.css
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
  frontend/src/styles/mealPlan/button.css
  frontend/src/styles/mealPlan/grids.css
  frontend/src/styles/mealPlan/shoppingList.css
Labels: DESIGN, Frontend, 이태한, 리뷰완료

#487 design: 스토어 나눔 고딕 폰트 적용
  frontend/src/styles/store/Cart.css
  frontend/src/styles/store/MapWithBottomSheet.css
  frontend/src/styles/store/StoreDetail.css
  frontend/src/styles/store/StoreReviewDetail.css
Labels: DESIGN, Frontend, 김광진

#489 refactor: 장바구니 TopNav 수정
  frontend/src/routes/routeConfig.js
Labels: REFACTOR, Frontend, 김광진, 리뷰완료

#494 design: 스토어 모달 css 변경
  frontend/src/pages/store/StoreDetail.jsx
  frontend/src/styles/store/StoreDetail.css
Labels: DESIGN, REFACTOR, Frontend, 김광진

#495 feat: 레시피 모달 css 수정
  frontend/public/assets/images/profiles/mafia.png
  frontend/src/styles/recipe/RecipeDetail.css
Labels: DESIGN, Frontend, 윤성웅

#469 design: 메인페이지 디자인 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/home/HomePage.jsx
  frontend/src/pages/home/rice-icon.png
  frontend/src/styles/home/HomePage.css
Labels: DESIGN, Frontend, 류혜진, 리뷰완료

#485 design: 식단 레이아웃 css 수정
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlan.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlanTable.jsx
  frontend/src/styles/mealPlan/MealPlanHeader.css
  frontend/src/styles/mealPlan/WeeklyMealPlan.css
Labels: DESIGN, Frontend, 박은지, 리뷰완료

#500 design: 식단 헤더 css 수정
  frontend/src/pages/mealPlan/MealPlanHeader.jsx
  frontend/src/pages/mealPlan/weekly/WeeklyMealPlan.jsx
  frontend/src/styles/mealPlan/MealPlanHeader.css
Labels: DESIGN, Frontend, 박은지, 리뷰완료

#502 feat: mypage name css수정
  frontend/src/pages/myPage/MyPage.jsx
Labels: FEAT, DESIGN, 윤성웅, 리뷰완료

#507 design: 마이페이지 나눔고딕 font 추가
  frontend/src/components/common/TopNav.js
  frontend/src/pages/myPage/MyPage.jsx
Labels: DESIGN, Frontend, 박은지, 리뷰완료

#511 fix : 식단 생성 후 정보 초기화
  backend/src/main/java/com/shinhan/naengtureat/inventory/model/InventoryRepository.java
  backend/src/main/java/com/shinhan/naengtureat/store/StoreController.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/CartWithQuantityRequestDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/dto/IngredientQuantityDTO.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreCartService.java
  backend/src/main/java/com/shinhan/naengtureat/store/model/StoreProductRepository.java
  frontend/src/pages/mealPlan/GPTchat.js
  frontend/src/pages/mealPlan/IngredientStoreListPage.js
Labels: FIX, FEAT, Frontend, 이태한

#512 Design : 마이페이지 디자인 수정
  frontend/public/assets/images/icons/rice-icon.png
  frontend/src/pages/home/HomePage.jsx
  frontend/src/pages/myPage/InstantCharge.jsx
  frontend/src/pages/myPage/MyPage.jsx
  frontend/src/styles/home/HomePage.css
  frontend/src/styles/mypage/InstantCharge.css
Labels: DESIGN, REFACTOR, Frontend, 류혜진

#514 design: 마이페이지 폰트추가
  frontend/src/styles/mypage/InstantCharge.css
Labels: DESIGN, Frontend, 류혜진
